.custom-box-shadow-botttom {
  box-shadow: 0px 6px 4px -4px #ffffff;
}
.custom-box-shadow-top {
  box-shadow: 0px -6px 4px -4px #ffffff;
}

.project-container {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  width: 100%;
  background-color: #00000070;
}
.overlay:hover {
  background-color: #00000052;
}
.active {
  color: black !important;
}
li:has(> a.active) {
  background-color: white !important;
}
